<footer>
  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Contact Us</h4>
            <p>
                📞 <a href="tel:032  215 50 05">032  215 50 05</a><br>
                📧 itstep@gmail.com
            </p>
        </div>
        <div class="col-md-4">
            <h4>Connect With Us</h4>
            <p>
                Follow us on social media:<br>
                <a href="https://discord.gg/EzbZHTsyXy"><i class="bi bi-discord"></i></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>
                © 2023 lukas-ordering. All Rights Reserved.<br>
                Designed and Created by <a target="_blank"  href="https://discordapp.com/users/isseyyy69">Luka Kasani</a>
            </p>
        </div>
    </div>
</div>
  
</footer>