.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  height: 100vh;
  background-image: url('https://travelgeorgia.ru/files/file_811.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(50%);
}


.mapouter {
  position: relative;
  text-align: right;
  width: 600px;
  height: 400px;
  display: block;
  gap: 20px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 600px;
  height: 400px;
}
.gmap_iframe {
  border: 4px solid var(--header2-color);
  width: 600px !important;
  height: 400px !important;
}
